<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="2"
    android:versionName="1.0.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="NestNet"
        android:icon="@mipmap/logo_nestnet_icon"
        android:roundIcon="@drawable/logo_nestnet"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Nestapp"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Nestapp" />

        <activity android:name=".LoginActivity"/>

        <activity android:name=".AboutActivity"/>

        <activity android:name=".ZacznijActivity"/>

        <activity android:name=".HasloActivity"/>

        <activity android:name=".NazwaActivity"/>

        <activity android:name=".HomeActivity"/>

        <activity android:name=".PotwierdzActivity"/>

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Nestapp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-sdk
        android:minSdkVersion="34"
        android:targetSdkVersion="34"
        tools:overrideLibrary="com.google.firebase.crashlytics" />
</manifest>